.mview-scroll{
  .ui-pulldown{
    position: absolute;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    z-index:-200;
    width:100%;
    .ui-pulldown-text{
      display:flex;
      -webkit-display:flex;
      justify-content: center;
      align-items: center;
      .pulldown-text{
        display:inline-block;
        min-width:2.5rem;
        margin-left:-0.2rem;
        font-size:0.35rem;
      }
      .icon-text{
        font-size:0.56rem;
        display:inline-block;
      }
    }
  }
  .ui-pullup{
    width:100%;
    .ui-pull-content{
      display:flex;
      align-items: center;
      justify-content: center;
      font-size:0.35rem;
      .up-text{
        margin-left:-0.2rem;
      }
      .up-icon{
        display:inline-block;
        font-size:0.6rem;
      }
    }
  }
}
